*{
    /*border: 1px solid red ; */
}
progress::-webkit-progress-value {
    background-color: hsl(176, 50%, 47%);
}
.container1{
    background: url('images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 50vh;
}
.navbar-brand{
    font-weight: 700;
}
.radio__radio{
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #d8e4e2;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;

}
.radio__radio::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background:hsl(176, 50%, 47%) ;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}
.form-check-input:checked + .radio__radio::after{
    transform: scale(1);
}


.form-check-label1{
    display: inline-flex;
    align-items: center;
}
.form-check-label{
    display: inline-flex;
    align-items: center;
    /*padding: 10px;*/
}
.second{
    margin-left: 10px;
}
.container2{
    width: 50%;
    margin: 0 auto;
    margin-top:-6em;
}
.collapse{
    border-radius: 10px;
}

.crowdlogo{
    background: black;
    width: 50px;
    height: 50px;
    border-radius:50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-1.5em auto;
    z-index: 1;

}
.back{
    background: hsl(176, 72%, 28%);
    border-radius: 30px;

}
.backers{
    width: 100%;
    padding-bottom: 1rem;

}
.backed{
    width: 100%;
    padding-bottom: 1rem;

}
.days{
    width: 100%;
}
.bookmark{
  background: whitesmoke;
    border-radius: 30px;
}


.box{
    border-left:1px solid gray;
   
}
/*.right{
    padding-right: 20px;
}*/
.level{
    height: 10px;
  background: whitesmoke;
  border-radius: 30px;

}
.full{
background-color :hsl(176, 72%, 28%);
border-radius: 30px;
height: 100%;
/* opacity: 0; */
width: 0;
}
.crowdname{
    text-align: center;
}
.pledge{
    color: hsl(176, 50%, 47%);
}
.reward{
    background-color:hsl(176, 72%, 28%) ;
    border-radius: 30px;
   
}

.amount{
    font-size: 2rem;
    font-weight: 700;
}
.nav-item{
    font-weight: 500;
}
.ash{
    color: hsl(0, 0%, 48%);
}
.confirm{
    background: hsl(176, 50%, 47%);
   border-radius: 30px;


}
.thanks{
    max-width: 500px;
    min-width: 300px;
}
.close{
    display: flex;
    justify-content: flex-end;
}
.cash{
    color: hsl(176, 50%, 47%);
}



.price{
    border-radius: 30px;  

}
.HamBurger:focus{
outline: none;
}
.HamBurger{
    border:0;
    background-color: transparent;
    display: none;
}
.btn-2{
    border-radius: 30px;  
    background: hsl(176, 50%, 47%);
    color: white;
    cursor: pointer;
    font-size:20px;
}
.glow{
    border: 1px solid hsl(176, 50%, 47%);
}
.nav-menu{
    border: 2px solid orange;
}
.nav-link{
    color: white;
}
.nav-ul li{
    list-style: none;
}
.nav-ul{
    display: flex;
   
}
.mobile-menu{
    background:rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1;
    display: none;
}
.menu-content{
    width: 100%;
}

.test{
    width: 40%;
    display: none;
    margin: 0 auto;
}
.con-cool{
    margin: 0 auto;
    width: 90%;
}
.top{
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
  
}

.product{
    width: 50%;
}

@media screen and (max-width:992px) {
    .container2{
        width: 90%;
    }
   
    .test{
        display: block;
    }
    .box{
       border: none;
    }
    
 
}
@media screen and (max-width:600px) {
    .two-b{
        width: 100%;
    }
    .book{
        display: none;
    }
  
    .test{
        display: block;
    
    }
    .box{
        border: none;
    }
  
    .HamBurger{
        display: block;
    }
    .nav-ul {
        display:none;
    }
  .product{
      width:80%;
  }
      
   .opt-4 .product{
    width: 100%;
   }   


.continue,.continue2,.continue3{
    flex-direction: column;
    border-top: 1px solid rgb(199, 199, 199);
}
.enter{
    margin: 1rem 0;
}
.price{
    margin: 1rem 0;

}
  
}
/*@media screen and (max-width:400)*/